<div class="modal fade" id="cancellaUtenteModal" tabindex="-1" aria-labelledby="cancellaUtenteLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-dark text-white">
            <div class="modal-header">
                <h5 class="modal-title text-warning" id="cancellaUtenteModalLabel">Le tue informazioni</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="cancellaUtenteForm" action="/cancella-utente" method="POST">
                    <div class="mb-3">
                        <label for="nome" class="form-label">Nome</label>
                        <input type="text" class="form-control bg-black text-white border-secondary" id="nome" name="nome" value="<%= user.nome %>" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="cognome" class="form-label">Cognome</label>
                        <input type="text" class="form-control bg-black text-white border-secondary" id="cognome" name="cognome" value="<%= user.cognome %>" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control bg-black text-white border-secondary" id="email" name="email" value="<%= user.email %>" readonly>
                    </div>
                    <input type="hidden" name="userId" value="<%= user.id %>">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
                <button type="submit" form="cancellaUtenteForm" class="btn btn-danger">Cancella Utente</button>
                <a href="/modifica_utente" class="btn btn-primary">Modifica Utente</a>
            </div>
        </div>
    </div>
</div>