<!DOCTYPE html>
<html lang="it">

<head>
    <%- include('./components/header', {title: 'CarRent | LogIn' }) %>
    <link rel="stylesheet" href="../css/auth.css">
</head>

<body>
    <%- include('./components/navbar') %>

        <div class="main-content login">
            <section class="signup-container">
                <h1>Accedi</h1>
                <p>Completa il modulo per accedere al tuo account</p>

                <form action="/login" method="POST">
                    <div class="form-field">
                        <label for="email">Email *</label>
                        <input type="email" id="email" name="email" required>
                    </div>

                    <div class="form-row">
                        <div class="form-field">
                            <label for="password">Password *</label>
                            <input type="password" id="password" name="password" required>
                        </div>
                    </div>

                    <div class="m-0 text-danger">
                        <% if (message) { %>
                            <span>
                                <%= message %>
                            </span>
                        <% } %>
                    </div>

                    <div class="form-actions">
                        <button type="submit" class="btn-primary">Accedi</button>
                    </div>
                </form>

                <div class="text-center mt-3">
                    <p>Non hai ancora un account? <a href="/registrazione" class="text-warning">Registrati</a></p>
                </div>
            </section>
        </div>

        <%- include('./components/footer') %>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
</body>

</html>