:root {
    --background-color-dark: #0b0b0b;
    --text-color-dark: #fff;
    --gold: #ffc107;
}

* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
}

/* ----------- navbar ----------- */

.navbar {
    position: fixed;
    max-width: 80%;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 15px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    z-index: 1000;
    animation: fadeIn 0.5s ease-in;
}

.custom-toggle-icon img {
    height: 30px;
    width: auto;
    object-fit: cover;
}


.nav-link {
    color: var(--text-color-dark);
    font-size: 20px;
    border-bottom: 1px solid transparent;
}

.nav-link:hover,
.active .nav-link {
    color: var(--text-color-dark);
    transition: all 0.3s ease-in-out;
    border-bottom: 1px solid var(--gold);
}

.btn a {
    text-decoration: none;
    color: var(--text-color-dark);
}

/* ----------- pagina home ----------- */
.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("../assets/home_image.jpg")
            no-repeat center center/cover;
    color: var(--white);
}

.hero-text {
    color: var(--text-color-dark);
    max-width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.car-image{
    height: 300px;
    object-fit: cover;
}

.card img{
    scale: 1;
    transition: all 0.3s ease-in-out;
}

.card:hover img{
    transform: scale(1.05);
}

.recensioni {
    width: 100%;
    margin-top: 150px;
}

.contatti{
    width: 100%;
    margin-top: 150px;
    padding-bottom: 50px;
}

/* pagina catalogo */
.catalogo{
    height: 60vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../assets/catalogo_image.jpg') no-repeat center center/cover;
}


/* ----------- pagina prenota ----------- */
.container-prenota{
    padding-top: 150px;
    padding-bottom: 50px;
}

/* ----------- dashboard ----------- */
.header {
    background-color: var(--background-color-dark);
}



@keyframes fadeIn {
    0% {
        transform: translate(-50%, -50px);
        opacity: 0;
    }
    40% {
        transform: translate(-50%, 10px);
        opacity: 1;
    }
    60% {
        transform: translate(-50%, -6px);
    }
    80% {
        transform: translate(-50%, 3px);
    }
    100% {
        transform: translate(-50%, 0);
    }
}
