<form action="/dashboard/addPacchetto" method="POST" class="bg-dark text-white p-5 rounded shadow-lg col-lg-6 mx-auto mt-5">
    <h3 class="text-warning mb-4 text-center">Inserisci un nuovo pacchetto</h3>

    <div class="row g-3">
        <div class="col-md-6">
            <label for="categoria" class="form-label">Categoria</label>
            <select class="form-select bg-black text-white border-secondary" id="categoria" name="categoria" required>
                <option value="" disabled selected>Seleziona una categoria</option>
                <% categorie.forEach((categoria) => { %>
                    <option value="<%= categoria.categoria %>"><%= categoria.categoria%></option>
                <% }) %>
            </select>
        </div>
        <div class="col-md-6">
            <label for="nome" class="form-label">Nome</label>
            <input type="text" class="form-control bg-black text-white border-secondary" id="nome" name="nome" placeholder="Es. Pieno" required>
        </div>
    </div>

    <div class="row g-3 mt-3">
            <label for="descrizione" class="form-label">Descrizione</label>
            <textarea class="form-control bg-black text-white border-secondary" id="descrizione" name="descrizione" placeholder="" required  rows="5"></textarea>
    </div>

    <div class="row g-3 mt-3">
            <label for="prezzo" class="form-label">Prezzo (€)</label>
            <input type="number" class="form-control bg-black text-white border-secondary" id="prezzo" name="prezzo" step="0.01" min="0" placeholder="Es. 50.00" required>
    </div>

    <div class="d-flex justify-content-center mt-4">
        <button type="submit" class="btn btn-warning px-5 py-2">Inserisci Pacchetto</button>
    </div>
</form>